[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
requests = ">=2.31.0"
flake8 = "*"
urllib3 = ">=1.26.5"
sqlparse = ">=0.4.4"

[requires]
python_version = ">=3.11"
