{% extends "base.html" %}

{% block title %}
About Me
{% endblock title %}
{% block nav_projects_active %}-active{% endblock nav_projects_active %}
{% block content %}
<!--050%-->
	<!--Content-->
</div>
  </div>
	<div class="container-2">
		<div class="row">
			<div class="col">
				<div class="section-header" style="margin-top:50px;">Projects
				</div>
			</div>
			<div class="col">
				<div class="section-detail" style="margin-top:60px;">
                <p>
                {% for repo, url, desc, date in repo_info %}
                <ul class = "list-desc">
                    <li>
                        <a href = "{{ url }}" class ="section-detail" target ="blank"> {{ repo }} </a>
                        <p><i>{{ desc }}</i></p>
                    </li>
                </ul>
                {% endfor %}
				</div>
			</div>
			<div class="col">
			</div>
		</div>
{% endblock content %}
